.App{
  display: flex;
  flex-direction: row;
  background-color:#2e2b2a ;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-right: 10px;
}
.left-side{
  background: #616161D1;
  height: 85vh;
  width: 50%;
  border-radius: 20px;
  border: 1px solid #96BEE7;
  padding: 20px;
  max-width: 657px;

}
.right-side{
  width: 50%;
}
@media screen and (max-width:768px) {
  .App{
    display: flex;
    flex-direction: column;
  }
  .left-side{
    width: 100%;
    
  }
  .right-side{
    width: 98%;
  }
  
}
@media (max-width: 768px) {
  .left-side{
    width: 90%;
    margin-bottom: 20px;

  }
}

@media (max-width: 480px) {
  .left-side{
    width: 90%;
    margin-bottom: 20px;

  }
}
